* {
  box-sizing: border-box;
}

body {
  font-family: 'Arvo', serif;
  font-size: 20px;
  color: rgba(240, 0, 0, 0.64);
  background-color: rgba(54, 155, 67, 0.47);
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

/*************************************/
/* Header */

.main-header {
  display: flex;
  flex-direction: column;
}

h1 {
  border-bottom: 3px solid rgba(240, 0, 0, 0.64);
  margin-left: 17px;
}

.todo-toggle {
  text-decoration: none;
  font-size: 16px;
  margin: 15px;
  color: #ca3e2e;
}

/****************************************************/
/* Timer */

.timer-container {
  position: relative;
  margin: 0 auto;
}

.timer {
  width: 80vw;
  height: 80vw;
  font-size: 35px;
  line-height: 80vw;
  text-align: center;
  color: rgb(85, 176, 97);
  text-shadow: 1px 1px 4px black;
  margin: 20px 0;
  background: #F00000; /* fallback for old browsers */
  background: linear-gradient(to left, rgba(240, 0, 0, 0.64) , rgba(220, 40, 30, 0.96));
  /* gradients from https://uigradients.com/# */
  border-radius: 50%;
  will-change: transform;
  transition: box-shadow 500ms ease;
}

.checkmark-1 {
  box-shadow: inset 0 0 0 8px #db6053;
}
.checkmark-2 {
  box-shadow: inset 0 0 0 8px #db6053, inset 0 0 0 16px #8cbc93;
}
.checkmark-3 {
  box-shadow: inset 0 0 0 8px #db6053, inset 0 0 0 16px #8cbc93, inset 0 0 0 24px #db6053;
}
.checkmark-4 {
  box-shadow: inset 0 0 0 8px #db6053, inset 0 0 0 16px #8cbc93, inset 0 0 0 24px #db6053, inset 0 0 0 32px #8cbc93;
}

.msg {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 10%;
  font-size: 25px;
  text-align: center;
  color: #212622;
}

/******************************************************/
/* Form */

.task {
  margin-left: 15px;
  width: 100%;
}

input {
  padding-left: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #d65151;
  height: 30px;
  font-weight: bold;
  color: rgba(189, 30, 30, 0.49);
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  width: 70px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.75);
  color: #ca0d0d;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

button[type='reset'] {
  height: 40px;
  margin-left: 10px;
  margin-bottom: 0;
}

/************************************/
/* Todos */

.todo-pane {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(149, 149, 149, 0.41);
  padding-left: 10px;
  position: absolute;
  width: 100vw;
  height: 100vh;
  will-change: transform;
  transform: translateY(-100vh);
  transition: transform 400ms ease-in-out;
  z-index: 1;
}

.slide-in {
  transform: translateY(0);
}

#header {
  display: flex;
  flex-direction: column;
}

.go-back {
  margin-top: 25px;
}

.todo-input {
  margin: 0;
  margin-right: 10px;
  font-size: 18px;
  padding: 2px 5px;
  font-weight: normal;
  color: rgba(2, 1, 1, 0.49);
}

.todo-button {
  font-size: 16px;
}

label {
  display: none;
}

.todo-h1 {
  margin: 0;
  padding: 0;
  margin-left: 10px;
  font-size: 30px;
  border: none;
}

#toggle-all {
  width: 20px;
  height: 20px;
  margin: 6px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul input {
  background-color: rgba(255, 255, 255, 0.64);
  border: none;
}

li {
  padding: 0;
  display: flex;
  margin: 5px 0;
  position: relative;
}

.view {
  width: 30px;
  display: flex;
}

.edit {
  flex: 1;
  margin-right: 15px;
}

.editing {
  background-color: #64b871;
  border: 2px solid #329d0d;
}

.completed {
  text-decoration: line-through;
  background-color: #29b228;
}

.destroy {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 35px;
  top: 25%;
  background-color: #cc2222;
}

.toggle {
  margin: auto;
}

footer {
  margin: 0;
  padding: 0;
  text-align: right;
}

#clear-completed {
  background: none;
  border: none;
  margin: 10px 40px;
  color: #000;
}

p {
  margin: 0;
  text-align: left;
  padding: 5px;
  color: #000;
  font-size: 18px;
}
