* {
  box-sizing: border-box;
}

body {
  font-family: 'Arvo', serif;
  font-size: 20px;
  color: rgba(240, 0, 0, 0.64);
  background-color: rgba(54, 155, 67, 0.47);
  margin: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

h1 {
  border-bottom: 3px solid rgba(240, 0, 0, 0.64);
  margin-left: 20px;
}

.timer-container {
  position: relative;
}

.timer {
  width: 100vw;
  height: 100vw;
  font-size: 50px;
  line-height: 100vw;
  text-align: center;
  color: rgb(85, 176, 97);
  text-shadow: 1px 1px 4px black;
  margin: 20px 0;
  background: #F00000; /* fallback for old browsers */
  background: linear-gradient(to left, rgba(240, 0, 0, 0.64) , rgba(220, 40, 30, 0.96));
  /* gradients from https://uigradients.com/# */
  border-radius: 50%;
}

.task {
  margin-left: 15px;
  width: 100%;
}

input {
  padding-left: 5px;
  margin: 5px 0;
  border-radius: 5px;
  border: 1px solid #d65151;
  height: 30px;
  font-weight: bold;
  color: rgba(189, 30, 30, 0.49);
}

.btn-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

button {
  width: 70px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.75);
  color: #ca0d0d;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  margin-bottom: 20px;
}

button[type='reset'] {
  height: 40px;
  margin-left: 10px;
  margin-bottom: 0;
}

.checkmark {
  position: absolute;
  width: 30%;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.68);
  opacity: 0;
}

.check-first {
  bottom: 34%;
  left: 10%;
}

.check-second {
  bottom: 34%;
  left: 58%;
}

.check-third {
  bottom: 24%;
  left: 17%;
}

.check-fourth {
  bottom: 24%;
  left: 52%;
}
